# Dependencias
node_modules/
package-lock.json

# Entorno y Secretos
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Archivos subidos / multimedia local
uploads/
temp/

# Cobertura de pruebas
coverage/

# IDE y Sistema Operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
